.collclubsports-component.contact-wrapper {
	width: 33%;
	display: inline-block;
	padding: 0px 15px;
	vertical-align: top;
}

.collclubsports-component.contact-wrapper .contact-item-details li {
	text-decoration: none !important;
}
.collclubsports-component.contact-wrapper .designation {
    color: #000000 !important;
    font-size: 14px;
    font-style: italic;
}

.collclubsports-component.contact-wrapper label {
	font-size: 1em;
	margin-bottom: 0px;
}

.collclubsports-component.contact-wrapper .conference-link a{
	text-decoration: underline;
	color: #333333 !important;
}
 
.bio-page {
 	position: relative;
}  

.bio-page .bio-profile-wrapper {
	max-width: 300px;
}

.bio-page .bio-profile-wrapper img {
	width: 100%;
	height: auto;
	border-width: 2px;
	border-style: solid;
}

.bio-page .bio-profile-wrapper .no-image{
	height: 250px;
    width: 250px;
}

.bio-page .bio-information {
}